:root {
    --bgColor: #000000;
    --textColor: #D3FBD8;
    --secondaryColor: #EC87E4;
    --emphasisColor: #66BAA8;
}

body{
    padding: 0px;
    background-color: var(--bgColor);
    color: var(--textColor);
    align-items:baseline
}

input, select, textarea{
    border: 0;
    height: 2ex !important;
    background-color: var(--secondaryColor);
    font-size: 2ex;
    color: var(--bgColor);
    resize: none;
}

textarea[readonly] {
    background-color: var(--bgColor) !important;
    color: var(--textColor) !important;
}

button {
    font-size: 1.5ex;
    vertical-align:top;
}