:root {
    --bgColor: #000000;
    --textColor: #D3FBD8;
    --secondaryColor: #EC87E4;
    --emphasisColor: #66BAA8;
}

body{
    position:relative;
    overflow:auto;
    padding-top: 2px;
    background-color: var(--bgColor);
    color: var(--textColor);
    align-items:baseline
}

input, select, textarea{
    vertical-align:top;
    border: 0;
    height: 1em;
    background-color: var(--secondaryColor);
    font-size: 16px;
    color: var(--bgColor);
    overflow:hidden;
}

textarea {
    resize: vertical;
}

textarea[readonly] {
    resize:none;
    background-color: var(--bgColor) !important;
    color: var(--textColor) !important;
}

button {
    vertical-align:middle;
    border: 0;
    background-color: var(--secondaryColor);
    font-size: 16px;
    color: var(--bgColor);
    overflow:hidden;
}

.bullet {
    padding: 1px;
}