<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bullet Heaven</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body onload="onLoad()">
    <div id="header">
        <h1>Bullet Heaven</h1><br>
        <div id="buttons">
          <button type="button" onclick="copyTestPlan()">Copy Test Plan (Azure Friendly!)</button>
          <button type="button" onclick="quickSave()">Quick Save</button>
          <button type="button" onclick="clearTestPlan()">Clear Test Plan</button>
        </div>
        <hr>
    </div>
    <script src="static/testIndex.js"></script>
	  {% block content %}
    {% endblock %}
  </body>
</html>