<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bullet Heaven</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body onload="makeBaseNode()">
    <div id="header">
        <h1>Bullet Heaven</h1>
        <hr>
    </div>
    <script src="static/index.js"></script>
	  {% block content %}
    {% endblock %}
  </body>
</html>